/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Home Section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#home{
    font-size: 6.4rem;
}

#home hgroup{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#home hgroup h2{
    color: aliceblue;
}

#home hgroup #role{
    font-size: 0.75em;
    align-self: flex-end;
    z-index: 3;

}

#home hgroup #role span{
    position: absolute;
    z-index: 2;
    opacity: 0;
    transform: translateX(-400px);
    transition: all ease-in-out 500ms;
}

#home hgroup #role:hover span{
    opacity: 1;
    transform: translateX(-100px);
}

#home .social-networks-container{
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-top: 10rem;

}

#home .social-networks-container a{
    width: 7.2rem;
    height: 7.2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        transition: all ease-in-out 300ms;
        transform: translateY(-5px);
    }


}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About Section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#about{
    font-size: 2.4rem;
}

#about h2{
    font-size: 2em;
}

#about #aboutme-text{
    width: 50%;
    margin: 5rem auto;
    padding: 2rem;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.5);

    border-radius: 1rem;
    color: aliceblue;
}

#about #aboutme-text p{
    text-align: justify;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Skills Section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#skills{
    font-size: 2.4rem;
    gap: 5rem;
}

#skills #button-toggle-skills{
    display: flex;
    gap: 2rem;
}

#skills #button-toggle-skills input{
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
}

#skills #my-stacks{
    width: 70%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 1rem;
    box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 500ms;
    
}

#skills #carousel-container-stacks{
    width: 5000px;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    padding: 2rem;
    border-radius: 1rem;
    
    &::-webkit-scrollbar{
        display: none;
    }
}

#skills .stack {
    cursor: grab;
    max-height: 110px;
    padding: 1rem;
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out; 

    
    &:hover{
        background-color: rgba(255, 255, 255, 0.2);

    }

    &::-webkit-scrollbar {
        display: none;
    }

    &:active {
        cursor: grabbing;
    }
}


#skills .stack figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

#skills .stack figure img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}



#skills .stack figcaption {
    font-size: 1.6rem;
    color: aliceblue;
    text-align: center;
}

#skills #my-tools{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 1rem;
    box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 500ms;
}

#skills #scroll-container-tools{
    width: 200%;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    padding: 2rem;
    border-radius: 1rem;
    
    &::-webkit-scrollbar{
        display: none;
    }
}

#skills .tool {
    cursor: grab;
    max-height: 110px;
    padding: 1rem;
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out; 

    
    &:hover{
        background-color: rgba(255, 255, 255, 0.2);

    }

    &::-webkit-scrollbar {
        display: none;
    }

    &:active {
        cursor: grabbing;
    }
}

#skills .tool figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

#skills .tool figure img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}



#skills .tool figcaption {
    font-size: 1.6rem;
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Projects Section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#projects{
    font-size: 2.4rem;
    text-align: center;
}

#projects h2{
    font-size: 2em;
}

#projects #container-projects{
    width: 40%;
    height: 70vh;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 1rem;
    box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 500ms;
}

#projects #slider-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    height: 80%;
    overflow-y: scroll;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 500ms;
}

#projects .project{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#projects .project .project-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#projects .project .project-header .project-title{
    font-size: 1.2em;
    color: aliceblue;
}

#projects .project .project-header .project-tags{
    display: flex;
    flex: 0, 0, 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
}

#projects .project .project-header .project-tags span{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.4em;
    text-transform: uppercase;
    background-color: bisque; /* just a background color default */
    color: rgba(0, 0, 0, 0.7);
}

#projects .project .project-header .project-tags .html-tag{
    background-color: #E34F26;
}

#projects .project .project-header .project-tags .css-tag{
    background-color: #1572B6;
}

#projects .project .project-header .project-tags .javascript-tag{
    background-color: #F7DF1E;
}

#projects .project .project-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#projects .project .project-main .project-image{
    width: 50px;
    height: 50px;
    border-radius: 2rem;
    overflow: hidden;
}

#projects .project .project-main .project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#projects .project .project-main .project-description{
    font-size: 0.8em;
    color: aliceblue;
    text-align: justify;
}

#projects .project .project-links{
    display: flex;
    gap: 1rem;
    font-size: 0.5em;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}

#projects .project .project-links a{
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all ease-in-out 500ms;
    
    &:hover{
        color: cornflowerblue;
    }
}


#projects #coming-soon{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#projects #coming-soon .project-header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#projects #coming-soon .project-header .project-title{
    font-size: 1.6rem;
    color: aliceblue;
}

#projects #coming-soon .project-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#projects #coming-soon .project-main .project-image{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

#projects #coming-soon .project-main .project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#projects #coming-soon .project-main .project-description{
    font-size: 1.4rem;
    color: aliceblue;
    text-align: justify;
}

#projects #coming-soon .project-main .project-links{
    display: flex;
    gap: 1rem;
}


