:root{
    /* Colors */
    --bg-color-1 : #1e1e30;
    --bg-color-2 : #242424;

    --logo1: #f72585;
    --logo2: #05f2d2;
    --logo3: #0600ab;
    
    
    --lilas: #6c00e0;
    --roxo: #7209b7;
    --azul-escuro: #3a0ca3;
    --azul-seila: #3f37c9;
    --ciano-claro: #22b8d3;
    --ciano: #4cc9f0;
    --cor: ##4361ee;

    --footer-bg: #4720b7;

}

body{
    background: var(--bg-color-1);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/* make main occupy all height availible between header and footer */
main{
    height: 100%;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


mark{
    color: teal;
    background-color: transparent;
}