:root{
    /* Colors */
    --bg-color-1 : #110f1a;
    --bg-color-2 : #1e1e30;

    --logo1: #FF00FF;
    --logo2: #00FFFF;
    --logo3: #0600ab;
    
    
    --lilas: #6c00e0;
    --roxo: #7209b7;
    --azul-escuro: #3a0ca3;
    --azul-seila: #3f37c9;
    --ciano: #4cc9f0;
    --cor: ##4361ee;
    
    --footer-bg: #4720b7;
    
    --text-color-1: #e3e6ef;
    
    --text-emphasis: var(--logo1);
    --subtitle: #00FFFF ;


}

body{
    background: var(--bg-color-1);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/* make main occupy all height availible between header and footer */
main{
    height: 100%;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


mark{
    color: var(--text-emphasis);
    background-color: transparent;
    font-weight: bold;
    text-shadow: 0px 0px 5px var(--text-emphasis);
}
